{% extends "base.html" %}
{% load static %}
{% block content %}

    <style>
.hero-wrap {
  width: 100%;
  height: calc((100vh - 117px) / 8); /* Set the height to half of the original value */
  min-height: 70px;
  position: relative;
}

.hero-wrap.hero-wrap-2 {
  height: 100px; /* Set the height to half of the original value for this specific case */
}

.hero-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0;
  background: #000;
}

</style>

    <div class="hero-wrap" style="background-image: url('/static/assets/images/bg_6.jpg');"
         data-stellar-background-ratio="0.5" xmlns:color="http://www.w3.org/1999/xhtml">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
             <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Blog</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">

            <div style="display: flex; justify-content:center;flex-wrap: wrap;">
                {% for post in category %}
                    <div class="card" style="width: 20rem; margin: 20px;padding:5px;">
                        <img src="{{ post.image.url }}" alt="Responsive image">
                        <div class="card-body">
                            <h6 class="card-title">{{ post.date }}</h6>
                            <h6 class="card-title">{{ post.user_name }}</h6>
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.description }}</p>
                            <a href="{% url 'hurricanes' post.id %}" class="btn btn-primary">View</a>
                        </div>
                    </div>
                {% endfor %}
            </div>


        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>

    </section>

{% endblock %}