{% extends "base.html" %}
{% load static %}
{% block content %}



<section class="ftco-section">


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card-container">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Donor Information</h3>

                        <form method="post" action="{% url 'donation' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Donor Name</label>
                                <input type="text" name="donor_name" class="form-control" placeholder="Donor Name">
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Number</label>
                                <input type="text" name="number" class="form-control" placeholder="Number">
                            </div>

                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Amount</label>
                                <input type="text" name="amount" class="form-control" placeholder="Amount">
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="payment-container">
                <h1>Payment Information</h1>
                <form method="post" action="{% url 'donation' %}" id="payment-form">
                            {% csrf_token %}
                            {{ form.as_p }}
                    <label for="card-element">Credit or debit card</label>
                    <div id="card-element"></div>
                    <div id="card-errors" role="alert"></div>
                    <button id="submit-payment" class="btn btn-success">Submit Payment</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Include Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="https://js.stripe.com/v3/"></script>
<script src="/static/assets/js/index.js"></script>
 </section>

{% endblock %}