{% extends "base.html" %}
{% load static %}
{% block content %}


    <style>
.hero-wrap {
  width: 100%;
  height: calc((100vh - 117px) / 8); /* Set the height to half of the original value */
  min-height: 70px;
  position: relative;
}

.hero-wrap.hero-wrap-2 {
  height: 100px; /* Set the height to half of the original value for this specific case */
}

.hero-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0;
  background: #000;
}

</style>

    <div class="hero-wrap" style="background-image: url('/static/assets/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
             <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Gallery</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Galleries</h1>
          </div>
        </div>
      </div>
    </div>




{#    <section class="ftco-section ftco-gallery">#}
{#    	<div class="container imageCont " >#}
{##}
{##}
{#           {% for x in pics %}#}
{##}
{#             <img src="{{ x.image.url }}" width="300" height="200" alt="Responsive image">#}
{##}
{#           {% endfor %}#}
{##}
{##}
{#       </div>#}
{##}
{##}

{#    </section>#}

{#    <section class="ftco-section ftco-gallery">#}
{#    <div class="container imageCont">#}
{#    <div class="d-md-flex">#}
{#        {% for x in pics %}#}
{#            <a href="{{ x.image.url }}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url('{{ x.image.url }}');">#}
{#                <div class="icon d-flex justify-content-center align-items-center">#}
{#                    <span class="icon-search"></span>#}
{#                </div>#}
{#            </a>#}
{#        {% endfor %}#}
{#    </div>#}
{#    </div>#}
{#</section>#}

<section class="ftco-section ftco-gallery">
    <div class="container imageCont">
        <div class="d-md-flex">
            {% for x in pics %}
                <a href="{{ x.image.url }}" class="gallery image-popup d-flex justify-content-center align-items-center img ftco-animate" style="background-image: url('{{ x.image.url }}');">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="icon-search"></span>
                    </div>
                </a>
                {% if forloop.counter|divisibleby:4 or forloop.last %}
                    </div>
                    {% if not forloop.last %}
                        <div class="d-md-flex">
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>










  {% endblock %}