{% extends "base.html" %}
{% load static %}
{% block content %}


    <style>
.hero-wrap {
  width: 100%;
  height: calc((100vh - 117px) / 8); /* Set the height to half of the original value */
  min-height: 70px;
  position: relative;
}

.hero-wrap.hero-wrap-2 {
  height: 100px; /* Set the height to half of the original value for this specific case */
}

.hero-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0;
  background: #000;
}

</style>

    <div class="hero-wrap" style="background-image: url('/static/assets/images/bg_5.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
             <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Gallery</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Galleries</h1>
          </div>
        </div>
      </div>
    </div>

 <style>
 .imageCont {
     display: grid;
     grid-template-columns: auto auto auto auto;
     padding: 5px;
 }

 #imagegallery img{
     height: 300px;
     width: 100%;
     padding: 4px;
 }
 </style>
    <section class="ftco-section ftco-gallery">
    	<div class="container imageCont " id="imagegallery">


             <script>
            // Use JavaScript to dynamically generate HTML elements
            for (let i = 1; i <= 12; i++) {
                // Create a new div element
                var divElement = document.createElement('div');

                // Create an img element and set its source attribute
                var imgElement = document.createElement('img');
                imgElement.src = '/static/Images/' + i + '.jpg';

                // Append the img element to the div element
                divElement.appendChild(imgElement);

                // Append the div element to the container
                document.getElementById('imagegallery').appendChild(divElement);
            }
          </script>


</div>


    </section>

    <section class="ftco-section-3 img" style="background-image: url(static/assets/images/bg_3.jpg);">
    	<div class="overlay"></div>
    	<div class="container">
    		<div class="row d-md-flex">
    		<div class="col-md-6 d-flex ftco-animate">
    			<div class="img img-2 align-self-stretch" style="background-image: url(static/assets/images/bg_4.jpg);"></div>
    		</div>
    		<div class="col-md-6 volunteer pl-md-5 ftco-animate">
    			<h3 class="mb-3">Be a volunteer</h3>
    			<form action="#" class="volunter-form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Email">
            </div>
            <div class="form-group">
              <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Send Message" class="btn btn-white py-3 px-5">
            </div>
          </form>
    		</div>    			
    		</div>
    	</div>
    </section>

  {% endblock %}